body {
  display: flex;
}
img {
  height: 50%;
  width: 100%;
}
.time {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #002672;
  text-align: center;
  color: rgb(255, 0, 0);
  width: 100%;
}
#clock {
  font-size: 100px;
}
